.container {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;

    .box {
        margin-bottom: 5px;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 17px;
        }

        .time {
            font-size: 10px;
        }
    }
}

.container:hover {
    background: rgb(207, 206, 206);
}
