.container{
    height: auto;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 5px;
    padding: 0 3px;
    margin-top: 80px;

    .center{
        padding: 20px 0;
        
        .title_main{
            text-align: center;
            text-transform: uppercase;
        }
    }
}



.container_listnews{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}