.container{
    max-width: calc(100vw - 20px);
    height: auto;
    padding: 10px;

    .submit{
        background-color: teal;
        color: white;
    }

    .image_upload{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}