.container {
    height: 100%;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}