.main {
    .titlemain {
        color: white;
    }

    nav li {
        list-style: none;
        width: 100%;
        margin: 15px;
        cursor: pointer;
    }

    nav li:hover{
        border-bottom: 1px solid teal;
    }

    nav li .title:hover{
        color: teal;
    }
}