.container {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    .seemorecomments {
        cursor: pointer;
    }

    .seemorecomments:hover {
        text-decoration: underline;
        color: teal;
    }
}

.container1 {
    margin-top: 10px;
    width: 95%;
    height: fit-content;

    .right {
        margin-left: 5px;

        .acincmt {
            cursor: pointer;
        }

        .acincmt:hover {
            text-decoration: underline;
            color: teal;
        }
    }
}
