.main {
    .titlemain {
        color: white;
    }

    nav li {
        list-style: none;
        width: 100%;
        margin: 15px;
        cursor: pointer;
    }

    nav li:hover {
        border-bottom: 1px solid teal;
    }

    nav li .title:hover {
        color: teal;
    }

    .title {
        width: 100%;
    }

    .navacc {
        border-top: 1px solid teal;

        .navacc_title {
            text-align: center;
        }
    }
}
