.container{

    width: 100%;
    height: 450px;
    max-height: 350px;
    text-align: center;

    .item{
        min-width: 400px;
        max-width: 800px;
        width: auto;
        height: 100%;

        img{
            width: 100%;
            height: 450px;
            max-height: 350px;
        }
    }
}