.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        border-radius: 10px;
    }
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../assets/jpg/blogs.jpg");
    background-size: cover;
    filter: blur(0px);
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .container {
        min-height: 400px;
        max-height: 500px;

        .title {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        min-height: 300px;
        max-height: 500px;

        .title {
            font-size: 20px;
        }
    }
}
