.container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 0 0 5px 0;

    .title{
        margin: 8px;
    }

    .flex_tags{
        margin: 8px;

        .tags_input{
            border: 1px solid teal;
        }
    }
}