* {
    margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

.topics_tag .ant-tag {
    cursor: pointer !important;
}
.topics_tag .ant-tag:hover {
    background: teal;
    color: white;
}

.button-config {
    width: 100%;
}

.button-submit {
    background: teal;
    color: white;
}

/* drawer */
.ant-drawer-close {
    color: white !important;
}

/*Checked tags*/
.ant-tag-checkable-checked {
    background-color: teal !important;
}

/*Tabs*/

.ant-tabs-tab-active .ant-tabs-tab-btn .ant-typography {
    color: teal !important;
}
.ant-tabs-tab-active .ant-tabs-tab-btn .ant-tabs-tab-icon {
    color: teal !important;
}
