.container {
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 100px;

    .headesay {
        margin-bottom: 30px;
    }

    .containerContent {
        margin: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
        padding: 10px;
    }
}
