.container {
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 100px;

    .headesay {
        margin-bottom: 30px;

        .actionsInPost {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .heartLike {
                font-size: 23px;
                margin-top: 10px;
                cursor: pointer;
                color: red;
            }
        }
    }

    .containerContent {
        margin: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
        padding: 10px;
    }
}
